.reporthead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  color: #672d71;
  text-align: center;
  padding: 0 0 1% 0;
}

.mainsection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin: 2% 0 4% 0;
}
.innersection {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.secleft {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.secright {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.maincol {
  display: flex;
  width: 95%;
  margin-top: 3%;
  justify-content: space-between;
}

.col1 {
  display: flex;
  width: 40%;
  flex-direction: column;
  padding-top: 1%;
  align-items: flex-start !important;
}

.col2 {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.labeltxt {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  color: #672d71 !important;
  text-align: left !important;
}
.demo-container {
  width: 100px !important;
  height: 50px !important;
  background: #642483;
  border: 1px solid #376dd7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.droplist {
  width: 70px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 14px;
}
/* section 2 start */

.trinrsec1 {
  flex-direction: column;
  display: flex;
  background-color: none;
  margin-top: 4% !important;
  background: #ffffff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 3% !important;
}

.inrgrid {
  display: flex;
  justify-content: space-between;
}

/* report table css start */

.table {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.tableMainSec {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1%;
  border-radius: 15px !important;
  box-shadow: 0px 2px 10px rgba(194, 141, 141, 0.25);
}
.tableInSec {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  color: #ffffff !important;
}
.tableLeft {
  margin: 3%;
  display: flex;
  width: 45%;
  text-align: left;
  flex-direction: column;
}
.tableRgt {
  display: flex;
  width: 35%;
  text-align: left;
  background-color: #89328e !important;
  color: #ffffff;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  padding: 1%;
  box-shadow: 0px 2px 10px rgba(194, 141, 141, 0.25);
}
.reportLtxt {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  color: #89328e !important;
}
.reportRtxt {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  color: #fff !important;
}
/* report table css start */

@media screen and (max-width: 1100px) {
  .reportLtxt {
    font-size: 14px !important;
  }
  .reportRtxt {
    font-size: 14px !important;
  }
  .tableRgt {
    padding: none !important;
  }
}

@media screen and (max-width: 600px) {
  .reportLtxt {
    font-size: 8px !important;
  }
  .reportRtxt {
    font-size: 8px !important;
  }
  .tableRgt {
    padding: none !important;
  }
}

@media screen and (max-width: 1100px) {
  .labeltxt {
    font-family: "Roboto" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    color: #672d71 !important;
    text-align: left !important;
  }
  .innersection {
    width: 90%;
    flex-direction: row !important;
  }
}

@media screen and (max-width: 769px) {
  .labeltxt {
    font-size: 20px !important;
  }
  .innersection {
    width: 90%;
    justify-content: space-around !important;
  }
}

@media screen and (max-width: 769px) {
  .labeltxt {
    font-size: 16px !important;
  }
  .innersection {
    width: 98% !important;
    flex-direction: column !important;
    justify-content: space-around !important;
  }
  .col1 {
    width: 50%;
    padding-top: 2%;
  }

  .col2 {
    width: 50%;
  }
}
