.reporthead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  color: #672d71;
  text-align: center;
  padding: 0 0 2% 0;
}

.mainsection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin: 2% 0 4% 0;
}
.innersection {
  display: flex;
  width: 80%;
  justify-content: space-between;

}
.secleft {
  display: flex;
  width: 50%;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}

.secright {
  display: flex;
  width: 50%;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}
.maincol {
  display: flex;
  width: 100%;
  margin-top: 3%;
  justify-content: space-between;
}

.col1 {
  display: flex;
  width: 30%;
  flex-direction: column;
  padding-top: 2%;
  align-items: flex-start !important;
}

.col2 {
  display: flex;
  width: 70%;
  flex-direction: column;
}

.labeltxt {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  color: #672d71 !important;
  text-align: left !important;
}
.demo-container {
  width: 100px !important;
  height: 50px !important;
  background: #642483;
  border: 1px solid #376dd7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.droplist {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 14px;
}
/* section 2 start */

.trinrsec1 {
  flex-direction: column;
  display: flex;
  background-color: none;
  margin-top: 4% !important;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  border-radius: 31px;
  padding: 3% !important;
}

.inrgrid {
  display: flex;
  justify-content: space-between;
}
.reporttxt {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 21px !important;
  line-height: 140% !important;
  color: #672d71 !important;
  padding-top: 4%;
}
.reportbox {
  background: #642483 !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #ffffff !important;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
}
.reporttable {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableInsec {
  width: 90%;
  display: flex;
}

@media screen and (max-width: 1100px) {
  .labeltxt {
    font-family: "Roboto" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    color: #672d71 !important;
    text-align: left !important;
  }
  .innersection {
    width: 90%;
    flex-direction: row !important;
  }
}

@media screen and (max-width: 769px) {
  .labeltxt {
    font-size: 20px !important;
  }
  .innersection {
    width: 90%;
    justify-content: space-around !important;
  }
}

@media screen and (max-width: 769px) {
  .labeltxt {
    font-size: 16px !important;
  }
  .innersection {
    width: 98% !important;
    flex-direction: column !important;
    justify-content: space-around !important;
  }
  .col1 {
    width: 50%;
    padding-top: 2%;
  }

  .col2 {
    width: 50%;
  }
}
