.reporthead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  color: #672d71;
  text-align: center;
  padding: 0 0 1% 0;
}
.mainsection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin: 2% 0 4% 0;
}
.innersection {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.secleft {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.secright {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.maincol {
  display: flex;
  width: 95%;
  margin-top: 3%;
  justify-content: space-between;
}

.col1 {
  display: flex;
  width: 40%;
  flex-direction: column;
  padding-top: 1%;
  align-items: flex-start !important;
}

.col2 {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.labeltxt {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  color: #672d71 !important;
  text-align: left !important;
}

/* report table css start */

.table {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.tableMainSec {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1%;
  border-radius: 15px !important;
  box-shadow: 0px 4px 15px rgba(33, 33, 33, 0.25);
}
.tableInSec {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  color: #ffffff !important;
}
.tableLeft {
  margin: 3%;
  display: flex;
  width: 45%;
  text-align: left;
  flex-direction: column;
}
.tableRgt {
  display: flex;
  width: 35%;
  text-align: left;
  background-color: #89328e !important;
  color: #ffffff;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  padding: 1%;

}
.reportLtxt {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  color: #89328e !important;
}
.reportRtxt {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  color: #fff !important;
}
/* report table css end */

/* for mobile */
@media screen and (max-width: 500px) {

  .innersection {
    width: 95% !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .secleft {
    width: 100% !important;
  }

  .secright {
    width: 100% !important;
  }
  .maincol {
    justify-content: space-between;
  }

  .col1 {
    width: 35% !important;
  }

  .col2 {
    width: 65% !important;
  }

  .labeltxt {
    font-weight: 500 !important;
    font-size: 18px !important;
  }
  .table {
    margin-top: 3% !important;
  }
  .tableMainSec {
    width: 100% !important;
  }
  .tableInSec {
    width: 90%;
  }
  .tableLeft {
    width: 45%;
  }
  .tableRgt {
    width: 45%;
  }
  .reportLtxt {
    font-size: 12px !important;
  }
}
/* for tab */

@media screen and (max-width: 768px) {
  .reportLtxt {
    font-size: 12px !important;
    font-weight: 800 !important;
  }
  .innersection {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .secleft {
    width: 100% !important;
  }
  .secright {
    width: 100% !important;
  }
  .col1 {
    width: 33% !important;
  }

  .col2 {
    width: 70% !important;
  }

  .labeltxt {
    font-weight: 500 !important;
    font-size: 18px !important;
  }
  .table {
    margin-top: 3% !important;
  }
  .tableMainSec {
    width: 80% !important;
  }
  .tableInSec {
    width: 90%;
  }
  .tableLeft {
    width: 45%;
  }
  .tableRgt {
    width: 45%;
  }
  .reportLtxt {
    font-size: 14px!important;
  }
}
