.code {
  font-family: "NoirPro", sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  line-height: 135.5% !important;
  color: #3e3e3e !important;
  text-align: left !important;
  padding: 2% 0 1% 0 !important;
}
.badgeCode {
  margin-left: 20px;
}
.headerSection {
  display: flex !important;
  justify-content: space-between !important;
  width: 70%;
  padding: 2%;
}
.heading {
  font-family: "NoirPro", sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 135.5% !important;
  color: #3e3e3e !important;
  padding: 2% 0 1% 0 !important;
}

.maincontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  border-radius: 12px;
  background-color: rgb(253, 253, 253);
  padding: 0 0 2% 0;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1% 0 1% 0;
}

.sectionleft {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.sectionright {
  width: 45%;
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: column;
}
.formbtn {
  width: 15%;
  display: flex;
  margin-top: 2% !important;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  color: #ffffff !important;
  background-color: #038fde !important;
  border-color: #038fde !important;
}
@media screen and (max-width: 1024px) {
  .heading {
    font-size: 18px !important;
    padding: 1% 0 1% 0 !important;
  }
  .code {
    font-size: 15px !important;
    padding: 1% 0 1% 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100% !important;
  }

  .heading {
    font-size: 15px !important;
    padding: 5% 0 5% 0 !important;
  }
  .code {
    font-size: 13px !important;
    padding: 5% 0 5% 0 !important;
  }
  .formbtn {
    width: 30% !important;
    font-size: 16px !important;
    margin-top: 2% !important;
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 95% !important;
    flex-direction: column !important;
  }

  .sectionleft {
    width: 98% !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 1% 0 2% 0 !important;
  }
  .sectionright {
    width: 98% !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 2% 0 2% 0 !important;
  }

  .heading {
    font-size: 18px !important;
    /* padding: 5% 0 5% 0 !important; */
  }
  .code {
    font-size: 12px !important;
    /* padding: 5% 0 5% 0 !important; */
  }
  .formbtn {
    width: 40% !important;
    font-size: 16px !important;
  }
}
