.maincardsec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincardinsec {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0 1% 0;
}

.cardsec {
  width: 32%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1% 0 1% 0;
}

.cardbg1 {
  width: 100%;
  /* background: url("../../assets/images/profile/cardbg.png"),
    linear-gradient(270deg, #fe8996 14.04%, #fcab80 93.18%) !important; */
  background: linear-gradient(270deg, #fe8996 14.04%, #fcab80 93.18%);
  border-radius: 5px;
  text-align: left;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /* background-position:  right center !important; */

  position: relative !important;
}
.cardbg2 {
  width: 100%;
  background: linear-gradient(270deg, #2e95e7 14.04%, #84c3f7 93.18%);
  border-radius: 5px;
  text-align: left;
  box-shadow: 0px 2px 6px rgba(220, 34, 101, 0.36) !important;
  position: relative !important;
}
.cardbg3 {
  width: 100%;
  background: linear-gradient(270deg, #fe8996 14.04%, #fcab80 93.18%);
  border-radius: 5px;
  text-align: left;
  box-shadow: 0px 2px 6px rgba(220, 34, 101, 0.36) !important;
  position: relative !important;
}

.cardheading {
  padding-top: 10%;
  font-weight: 700 !important;
  font-size: 28px !important;
  line-height: 140% !important;
  color: #fff !important;
  padding-left: 5%;
}

.subhead {
  padding-top: 4%;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 140% !important;
  color: #fff !important;
  padding-left: 5%;
}

.counterhead {
  padding-top: 4%;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  color: #fff !important;
  padding-left: 5%;
}
.supermastericon {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 34%;
  top: calc(0px + 152px);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mastericon {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 59%;
  top: calc(0px + 152px);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.usericon {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 84%;
  top: calc(0px + 152px);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .supermastericon {
    width: 45px;
    height: 45px;
    left: 41% !important;
    top: calc(0px + 19%) !important;
  }
  .mastericon {
    width: 45px;
    height: 45px;
    left: 63% !important;
    top: calc(0px + 128px) !important;
  }
  .usericon {
    width: 45px;
    height: 45px;
    left: 86% !important;
    top: calc(0px + 129px) !important;
  }
  .maincardinsec {
    width: 100%;
  }

  .cardheading {
    font-size: 20px !important;
  }

  .subhead {
    font-size: 18px !important;
  }

  .counterhead {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 768px) {
  .supermastericon {
    width: 35px !important;
    height: 35px !important;
    left: 49% !important;
    top: calc(0px + 123px) !important;
  }
  .supermastericon img {
    width: 25px !important;
  }
  .mastericon {
    width: 35px !important;
    height: 35px !important;
    left: 68% !important;
    top: calc(0px + 128px) !important;
  }
  .mastericon img {
    width: 25px !important;
  }
  .usericon {
    width: 35px !important;
    height: 35px !important;
    left: 88% !important;
    top: calc(0px + 128px) !important;
  }

  .usericon img {
    width: 25px !important;
  }
  .maincardinsec {
    width: 100%;
  }

  .cardheading {
    font-size: 18px !important;
  }

  .subhead {
    font-size: 16px !important;
  }

  .counterhead {
    font-size: 15px !important;
  }
}

/* mobile */
@media screen and (max-width: 500px) {
  .maincardinsec {
    flex-direction: column !important;
  }
  .cardsec {
    width: 100% !important;
    margin-top: 2%;
  }
  .supermastericon {
    width: 45px;
    height: 45px;
    left: 49% !important;
    top: calc(0px + 122px) !important;
  }
  .mastericon {
    width: 45px;
    height: 45px;
    left: 49% !important;
    top: calc(0px + 310px) !important;
  }
  .usericon {
    width: 45px;
    height: 45px;
    left: 49% !important;
    top: calc(0px + 495px) !important;
  }
}

/* 375 icon none */
/* mobile */
@media screen and (max-width: 320px) {
  .supermastericon {
    display: none;
  }
  .mastericon {
    display: none;
  }
  .usericon {
    display: none;
  }
}
