.tableheading {
    font-size: 16px;
    font-weight: 700;
    padding-left: 4%;
    padding-top: 1%;
    color: #344767;
  }
  
  .tableName {
    font-size: 16px;
    font-weight: 700;
    color: #344767;
  }
  
  .tableData {
    font-size: 14px;
    font-weight: 700;
    color: #344767;
  }
  .userTableSection {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5) !important;
    border-radius: 15px !important;
  }
  .table_btn_container {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border: none !important;
  }
  .tableUpperSection {
    display: flex;
  }
  .TabsButton {
    gap: 15px;
  }
  
  .btnMaster {
    text-transform: none;
    padding: 7px 10px;
    color: #6F6F6F;
    margin-right: 15px;
  }
  
  .btnMaster.active {
    background-color: #90168C;
    color: white;
    text-transform: none;
    padding: 7px 10px;
    margin-right: 15px;
  }
  .addButton {
    width: 18%;
    height: 30px;
    background: linear-gradient(266.44deg, #f196f6 4.86%, #a684dc 137.8%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .addButton Button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #ffffff;
  }
  
  .ModalStyle {
    position: "absolute";
    top: "50%";
    left: "50%";
    transform: "translate(-50%, -50%)";
    width: 400;
    background-color: "background.paper";
    border: "2px solid #000";
    box-shadow: 24;
    padding: 4;
  }
  
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-link {
    display: block;
    padding: 10px 24px;
  
    &:hover {
      text-decoration: none;
    }
  
    &.disabled {
      opacity: 0.7;
    }
  }
  
  .btnViewMore {
    background: #700482 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 7px !important;
    font-family: "Roboto" !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    line-height: 140% !important;
    color: #fff !important;
    /* or 17px */
  
    color: #ffffff;
  }
  .btnViewMore:hover {
    color: #700482;
  }
  
  /* -----------------Modal CSS */
  .ModlaStyle {
    display: flex;
    justify-content: end;
  }
  
  /* .formSec {
    width: 500px !important;
    border-radius: 8px;
    margin: 4% 0 5% 0;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2%;
  } */
  .TextField {
    width: 100%;
    margin-top: 6% !important;
    border: 1px solid #ececec !important;
    border-radius: 8px;
  }
  .inputtxt {
    font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    color: #6358dc !important;
  }
  .loginbox {
    border: none !important;
    background: #ececec !important;
    border: 1px solid #ececec !important;
    border-radius: 8px;
  }
  .btnSave {
    background: #6358dc !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 8px !important;
    font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    line-height: 135.5% !important;
   width: 260px !important;
    height: 50px !important;
    display: flex;
    /* or 31px */
  
    color: #ffffff;
  }
  .btnReject {
    background: #ec2e2e !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 8px !important;
    font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    line-height: 135.5% !important;
    height: 50px !important;
    /* or 31px */
    width: 260px !important;
    color: #ffffff;
    display: flex;
   
  
  }
  
  .btnSection1{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .btnSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
  }
  .sec1{
    width: 40%;
    display: flex;
  }
  .sec2{
    width: 40%;
    display: flex;
  }
  
  
  /* ----------------- Media Screen  ---------------------------*/
  
  @media screen and (max-width: 425px) {
    /* .table_btn_container {
    display: inline-block;
    } */
    /* .TabsButton {
      gap: 10px;
    } */
    .addButton{
      width: 10%;
    }
  }