/* .mainsec {
  display: flex;
  height: 100vh;
  background-color: rgb(239, 239, 239);
  justify-content: center;
  align-items: center;
}

.inneersec {
    border-radius: 10px;
    height: 40vh;
    margin: 5%  ;
width: 20%;
  display: flex;
  flex-direction: column;
  background-color: rgb(28, 28, 78);
  justify-content: center;
  align-items: center;
  color: white;
}

.inputtxt {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2%;
  width: 90%;
  flex-direction: column;
  justify-content: center;
}

.btn{
    font-size: 18px;
    font-weight: 500;
    height: 5vh;
    border-radius: 5px;
    margin: 2%;
    width: 90%; 
    background-color: rgb(29, 29, 101);
    color: aliceblue;
} */




.mainsec {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #eef2f6;
}

.innersec {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: rgb(255, 255, 255);
  height: 380px;
  border-radius: 8px;
  margin: 4% 0 5% 0;
}

.inner_sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.inner_sec h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #16469d;
  padding-top: 5%;
}

.inner_sec h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #697586;
  padding-top: 3%;
}

.TextField {
  width: 100%;
  font-weight: 400 !important;
  font-size: 10px !important;
  line-height: 20px !important;
  color: #7d8669 !important;
  margin-top: 6% !important;
  border-radius: 8px!important;
}

.SignInBtn {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #fff;
  background-color: #16469d !important;

  text-transform: capitalize !important;
  height: 50px !important;
}

.newsection {
  display: flex;
  justify-content: space-between;
}
.loggedintxt {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #364152;
  margin-top: 8%;
}
.forgotpwtxt {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #16469D;
    margin-top: 8%;
    padding-top: 1%;
}

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #121926;

 
}
