.cardbg1 {
  background: linear-gradient(270deg, #fe8996 14.04%, #fcab80 93.18%);
  /* drop-shadow-red */

  box-shadow: 0px 2px 6px rgba(220, 34, 101, 0.36);
  border-radius: 8px;
  text-align: left;
  /* background-image: url("../../assets/images/profile/cardbg.png") !important;
  background-repeat: no-repeat; */
  height: 268px;
}

.cardbg2 {
  background: linear-gradient(270deg, #2e95e7 14.04%, #84c3f7 93.18%);
  /* drop-shadow-red */

  box-shadow: 0px 2px 6px rgba(220, 34, 101, 0.36);
  border-radius: 8px;

  text-align: left;
  height: 268px;
}
.cardbg3 {
  background: linear-gradient(270deg, #fe8996 14.04%, #fcab80 93.18%);
  /* drop-shadow-red */

  box-shadow: 0px 2px 6px rgba(220, 34, 101, 0.36);
  border-radius: 8px;

  text-align: left;
  height: 268px;
}

.cardheading {
  padding-top: 25%;
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 140% !important;
  color: #fff !important;
  padding-left: 5%;
}

.subhead {
  font-weight: 500 !important;
  font-size: 21px !important;
  line-height: 140% !important;
  color: #fff !important;
  padding-left: 5%;
}

.counterhead {
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 140% !important;
  color: #fff !important;
  padding-left: 5%;
}
