.reporthead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  color: #672d71;
  text-align: center;
  padding: 0 0 1% 0;
}

.mainsection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin: 2% 0 4% 0;
}
.innersection {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.secleft {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.secright {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.maincol {
  display: flex;
  width: 95%;
  margin-top: 3%;
  justify-content: space-between;
}

.col1 {
  display: flex;
  width: 40%;
  flex-direction: column;
  padding-top: 1%;
  align-items: flex-start !important;
}

.col2 {
  display: flex;
  width: 60%;
  flex-direction: column;
}
.labeltxt {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  color: #672d71 !important;
  text-align: left !important;
}
.userTableSection {
  /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5) !important;
  border-radius: 15px !important;
}

/* for mobile */
@media screen and (max-width: 500px) {

  .innersection {
    width: 95% !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .secleft {
    width: 100% !important;
  }

  .secright {
    width: 100% !important;
  }
  .maincol {
    justify-content: space-between;
  }

  .col1 {
    width: 35% !important;
  }

  .col2 {
    width: 65% !important;
  }

  .labeltxt {
    font-weight: 500 !important;
    font-size: 18px !important;
  }
  .table {
    margin-top: 3% !important;
  }
  .tableMainSec {
    width: 100% !important;
  }
  .tableInSec {
    width: 90%;
  }
  .tableLeft {
    width: 45%;
  }
  .tableRgt {
    width: 45%;
  }
  .reportLtxt {
    font-size: 12px !important;
  }
}
/* for tab */

@media screen and (max-width: 768px) {
  .reportLtxt {
    font-size: 12px !important;
    font-weight: 800 !important;
  }
  .innersection {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .secleft {
    width: 100% !important;
  }
  .secright {
    width: 100% !important;
  }
  .col1 {
    width: 33% !important;
  }

  .col2 {
    width: 70% !important;
  }

  .labeltxt {
    font-weight: 500 !important;
    font-size: 18px !important;
  }
  .table {
    margin-top: 3% !important;
  }
  .tableMainSec {
    width: 80% !important;
  }
  .tableInSec {
    width: 90%;
  }
  .tableLeft {
    width: 45%;
  }
  .tableRgt {
    width: 45%;
  }
  .reportLtxt {
    font-size: 14px!important;
  }
}
